.Login-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: white;
    height: 698px;
    width: 749px;
    border: 3px solid black;
}

img {
    height: 290.64px;
    width: 650px;
    border: solid 3px black;
}

.login, .senha {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

input {
    width: 438px;
    height: 44px;
    background-color: #c9c9c9;
    border: solid 3px black;
    font-weight: bold;
    font-size: x-large;
    padding-left: 20px;
    transition: all 0.3s ease-in-out;
}

input:hover {
    background-color: #c9c9c9;
    border: solid 3px black;
    font-weight: bold;
    font-size: x-large;
    padding-left: 20px;
    transform: scale(1.05);
}

input::placeholder {
    color: black;
    font-weight: bold;
    opacity: 0.5;
    font-size: x-large;
}

button {
    height: 72px;
    width: 245px;
    margin-top: 30px;
    background-color: #0C5806;
    color: white;
    font-size: xx-large;
    font-weight: bold;
    border-radius: 10px;
    border: none;
    transition: all 0.3s ease-in-out;
    cursor: pointer
}

button:hover {
    background-color: #1bc00f;
    color: white;
    font-size: xx-large;
    font-weight: bold;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    transform: scale(1.05);
}