.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    width: 100vw;
}

.titulo {
    margin-top: 2%;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    position: relative;
}

#logo-hm {
    margin-top: 2%;
    width: 240px;
    height: 140px;
    position: absolute;
    left: 10px;
}

h1 {
    font-weight: bold;
    font-size: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #3b0503d3;
    color: #FEDC57;
    width: 40%;
    border-radius: 10px;
}

.status {
    display: flex;
    justify-content: center;
    margin: 3%;
    gap: 100px;
    width: 50%;
}

.atrasado-transparente, #pendente-transparente, #entregue-entregue {
    justify-content: center;
    display: flex;
    background-color: #ff00003f;
    color: rgba(255, 255, 255, 0.664);
    padding: 10px;
    border-radius: 5px;
    width: 138px;
    height: 50px;
    font-weight: bold;
    font-size: 20px;
    transition: all 0.3s ease-in-out;
    cursor: pointer;
}

.atrasado {
    background-color: #ff0000;
    color: white;
    width: 138px;
    height: 50px
}